.offcanvas {
    max-width: 80%;
    overflow-y: auto;
    width: max-content;
}

.navbar {
    background-color: slategray !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

}

.vpravo-zarovnanie {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

.vlavo-zarovnanie {
    margin-left: 5%;
}

.accordion-item {
    background-color: slategrey;
    color: white;
}

.accordion-button {
    background-color: darkslategrey;
    color: white;
}

.img-recept {
    float: right;
    width: 20rem;
    height: 25rem;
    /*opacity: 0.5;*/
}

.btn-hover {
    border: none;
    font-size: 16px;
    margin: 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.btn-hover:hover {opacity: 1}

.ingrediencie {
    border-left: 3px dashed black;
    padding-left: 10px;
}

/*.img-left {
    float: left;
    width: 50%;
    margin-left: 5%;
}*/



.image-container {
    display: flex;
    flex-direction: column;
    width: auto;
    /*align-items: end;*//*flex-start*/
}


.heart-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}




main {
    margin-top: 5%;
}

body {
    background-color: lightslategray;
}

footer {
    margin-top: auto;
}

/*
.dropdown {
    white-space: nowrap;
}
*/

