.offcanvas {
    max-width: 80%;
    overflow-y: auto;
    width: max-content;
}

.navbar {
    background-color: lightslategray !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

}

.vpravo-zarovnanie {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

.vlavo-zarovnanie {
    margin-left: 5%;
}

.accordion-item {
    background-color: slategrey;
    color: white;
}

.accordion-button {
    background-color: darkslategrey;
    color: white;
}

/*.img-left {
    float: left;
    width: 50%;
    margin-left: 5%;
}*/



.image-container {
    display: flex;
    flex-direction: column;
    width: auto;
    /*align-items: end;*//*flex-start*/
}


.heart-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


main {
    margin-top: 5%;
}

body {
    background-color: lightslategray;
}

footer {
    margin-top: auto;
}

/*
.dropdown {
    white-space: nowrap;
}
*/

